@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  color: #333f48;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

header ul {
  display: flex;
}

header ul li {
  list-style-type: none;
  margin: 0 30px;
}

header ul li i {
  font-size: 10px;
}

.logo {
  margin: 0 20px;
  font-weight: 500;
  font-size: 20px;
}

/* Submenu? */

header ul li ul {
  position: absolute;
  background: #ffb11f;
  top: 40px;
  right: 300px;
  display: block;
  width: 100px;
  padding: 0;
  transition: 0.2s;
  opacity: 1;
  visibility: hidden;
}

header ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header ul li ul li {
  color: #fff;
  padding: 5px 5px;
  margin: 0;
  text-align: center;
  border-bottom: solid 1px #f4f4f4;
}

header ul li ul li:hover {
  opacity: 0.3;
}

header ul li:hover {
  cursor: pointer;
}

header ul li ul.downloads {
  position: absolute;
  background: #ffb11f;
  top: 40px;
  right: 30px;
  display: block;
  width: 300px;
  padding: 0;
  transition: 0.2s;
}

/* Showcase*/
.showcase-container {
  display: flex;
  min-height: 60vh;
  background-color: #fff;
  width: 100%;
}

.left {
  width: 50%;
  background: url("./images/british-gas-boiler-installation.jpg");
}

.right {
  width: 50%;
}

.right .text-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.right .text-a button {
  background: linear-gradient(rgb(0, 153, 255) -75%, rgb(0, 94, 184) 100%);
  box-shadow: rgba(51, 63, 72, 0.15) 0px 0.75em 1.5em 0px;
  padding: 0.8125em 3.5em 0.8125em 2em;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.right .text-a button i {
  margin-left: 10px;
  font-size: 18px;
}

/* Offer */

.offer {
  background-color: #ffb11f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.offer p {
  margin: 0;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
}

/* BG Tools */
.tools-container {
  width: 1100px;
  margin: 0 auto;
}

.tools-container .tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container .tools img {
  height: 220x;
}

/* 
  ***** Modal Styling *****
*/

/* Smaller screens */

@media (max-width: 768px) {
  header .logo {
    display: none;
  }

  /* .hidden {
    display: block;
    padding: 15px;
  } */

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  .showcase-container {
    display: flex;
    flex-direction: column;
  }
  .showcase-container .left {
    display: block;
    width: 100%;
  }

  .showcase-container .right {
    display: block;
    width: 100%;
  }

  .offer p {
    font-size: 18px;
  }

  .tools-container {
    display: none;
  }
}
